@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Outfit:wght@400;700&display=swap");

body {
  background: hsl(212, 45%, 89%);
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 320px;
  height: 497px;
  border-radius: 20px;
  margin: 152px auto;
  align-items: center;
  align-content: center;
}

.card__img img {
  width: 288px;
  height: 288px;
  padding: 16px 16px 0 16px;
}

.card__text {
  display: flex;
  flex-direction: column;
}

.card__text .card__text--bold h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  width: 288px;
  text-align: center;
  margin-bottom: 15px;
}

.card__text .card__text--light p {
  font-size: 15px;
  color: #7d889e;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  width: 256px;
  text-align: center;
  margin: auto;
}

@media (max-width: 375px) {
  .card {
    width: 279px;
  }
  .card__img img {
    width: 251.5px;
    height: 288px;
  }

  .card__text .card__text--bold h3 {
    width: 251.5px;
  }

  .card__text .card__text--light p {
    width: 223.2px;
  }
}
